header ul li {
    display: inline-block;
}
.icons {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
}
/* 
#blank {
    width: 500px;
} */

body {
    background-color: burlywood;
}
.logo {
    width: 20%;
    height: 20%;
} 