header ul li {
    display: inline-block;
}
header ul li a{
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
}
 th, tr , td {
    padding: 1%;
    margin: 1%;
    border-radius: 50%;
    text-align: center;
  }
  
  .home-table{
width: 1000px;
  }
  .home-table td{
padding: 10px; 
    }
  td{
      width:3%;
padding: 10px;      
  }
  .logo{
      width:100px;
  }

  table{
    margin: auto;
      padding: 0.5%;
      width: 70%;
      
  }
  .plank{
      width: 200px;
  }

  tr:nth-child(even)
   {background-color: lightpink;}
   tr:nth-child(odd)
   {background-color:lightgray;}
 
   h2{
       color: lightpink;
       padding: 0.5%;
       font-family: "Lucida Console", "Courier New", monospac    ;
       text-align: center;


   }
   body{
       font-family: Courier ;
       background-color: lightslategrey;
   }
   h1{
       width: 700px;
       text-align: center;
       text-decoration: wavy;
   }
   .home-table tr:nth-child(even){
       background-color: lightslategrey;
   }
  .img-sec1{
      display: grid ;
      grid-template-columns: auto  auto auto auto auto auto;
      width: 920;
      margin:auto;
      align-items: center;
      align-content: center;
      gap: 0px;


  }
  .img-sec1 img{
    margin: 50px 20px 20px 20px;
  width: 200px;
  height: 200px;
  float:left; 
  border-radius: 50%;
  }

  .img-sec1 img:hover{
    transition: all 1000ms;
    width: 250px;
    height: 220px;
    border: dodgerblue 7px solid;
    background-color: indianred;
  }
  table tr  th:hover ,  td:hover{
   font-size: 22px;
    border: dodgerblue 2px solid;
    font-weight: bold;
    transition: all 1000ms;
  }
  h1:hover{
    transition: all 1000ms;
    font-size : 40px;
  }
